<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button matTooltip="Voltar" (click)="voltar()">
      <mat-icon>arrow_back</mat-icon>
    </button>{{ title }}
  </mat-toolbar-row>
</mat-toolbar>

<div class="edit">
  <form #form="ngForm" class="mat-elevation-z3" (ngSubmit)="enviar(form)">

    <mat-form-field>
      <input type="text" matInput required placeholder="Nome" name="nome" #nome="ngModel" [(ngModel)]="medico.nome">

      <mat-error *ngIf="nome.invalid && form.submitted">
        Nome é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput required placeholder="Email" #email="ngModel" name="email" [(ngModel)]="medico.email">

      <mat-error *ngIf="email.invalid && form.submitted">
        Email é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput required placeholder="CRM" name="crm" #crm="ngModel" [(ngModel)]="medico.crm">
      <mat-error *ngIf="crm.invalid && form.submitted">
        CRM é obrigatório
      </mat-error>
    </mat-form-field>

    <div class="action">
        <button class="button" mat-raised-button type="submit" onclick="voltar()" color="primary-black">
            Voltar
          </button>
      <button class="action" mat-raised-button type="submit" color="primary">
        Enviar
      </button>
    </div>

  </form>
</div>